# python=3.10
# pip install "apache-airflow==3.1.7" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-3.1.7/constraints-3.10.txt"
pyspark==3.5.1
delta-spark==3.2.0
requests
python-dotenv
pandas
numpy
datasets
tqdm
pydantic
pyaml
confluent-kafka
clickhouse-connect
redis
sentence-transformers